* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#main{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 20px;
}
.card{
    height: 300px;
    width: 200px;
    background-color: tomato;
    border-radius: 20px;
}